<h1>List of Restaurants:</h1>

<mat-grid-list cols="6" rowHeight="60px">
    <ng-container *ngFor="let restaurant of restaurants;index as i">
        <mat-grid-tile [colspan]="5">{{restaurant.restaurant.name}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <button mat-raised-button color="accent" (click)="createComponent(restaurant.restaurant,i)">Show
                more</button>
        </mat-grid-tile>
        <mat-grid-tile [@detailExpand]="restaurant.expand" [colspan]="6" [rowspan]="restaurant.rows">
            <ng-container #resDescContainer>
            </ng-container>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>

<mat-spinner *ngIf="loading"></mat-spinner>

<div>
    <a href="javascript:void(0)" (click)="logout()">Logout</a>
</div>